<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Fitsmind</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign Up <spanclass="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Sign Up as a trainer", new_user_registration_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Sign Up as a user", new_user_registration_path %></li>
            </ul>
          </li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME", home_path %></li>
        <li><%= link_to "PRODUCTS", products_path %></li>
        <li><%= link_to "THE SCIENCE", theScience_path %></li>
        <li><%= link_to "FAQ", faq_path %></li>
        <li><%= link_to "ABOUT US", aboutus_path %></li>
        <li><%= link_to "PROJECTS", projects_path %></li>
        <li><%= link_to "JOURNALS", journals_path %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
